    .footer {
        width: 100%;
        background-color: var(--primary3);
        height: 160px;
        padding: 2rem;
    }
    
    .footer-container {
        display: flex;
        align-items: flex-end;
        width: 100%;
        justify-content: space-around;
        color: white;
    }
    
    .footer-left {
        font-size: 0.9rem;
    }
    
    .footer-right {
        display: flex;
        flex-direction: column;
    }
    
    .footer-name {
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: -1px;
    }
    
    .footer-address {
        font-size: 0.9rem;
        font-weight: 200;
    }
    
    .footer-email {
        font-size: 0.9rem;
        font-weight: 200;
        display: flex;
        align-items: flex-end;
    }
    
    .footer-phone {
        font-size: 0.9rem;
        font-weight: 200;
        display: flex;
        align-items: flex-end;
    }
    
    @media screen and (max-width: 600px) {
        .footer {
            padding: 1.5rem;
        }
        .footer-container {
            flex-direction: column-reverse;
            align-items: flex-start;
            justify-content: space-between;
        }
        .footer-name {
            font-size: 1.2rem;
        }
        .footer-address,
        .footer-email,
        .footer-phone {
            font-size: 0.8rem;
        }
        .footer-left {
            margin-top: 0.7rem;
            font-size: 0.7rem;
        }
    }